<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio da Hamburgueria</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="nav">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            </ul>

            <ul>
            <li><a href="cardapio.html">Cardapio</a></li>
            </ul>

            <ul>
            <li><a href="login.html">Entrar</a></li>
            </ul>
            
            <ul>
             <li><a href="carrinho.html"> Carrinho</a></li>
            </ul>
        </ul>
    </header>
    <h1>Hamburguers de Carne</h1>
    <section class="menu">
        
        <div class="produto">
            <img src="imagens/hambuguer 2.png" alt="Hamburguer Clássico">
            <div class="detalhes">
                <h2>Hamburguer </h2>
                <p>Carne suculenta, queijo, alface e tomate.</p>
                <p class="preco">R$ 18,90</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>
        
        <div class="produto">
            <img src="imagens/hambuguer 2.png" alt="Cheeseburger">
            <div class="detalhes">
                <h2>Cheeseburger</h2>
                <p>Carne com queijo cheddar e bacon crocante.</p>
                <p class="preco">R$ 22,90</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>
        
        <div class="produto">
            <img src="imagens/hambuguer 2.png" alt="Veggie Burger">
            <div class="detalhes">
                <h2>Veggie Burger</h2>
                <p>Hamburguer vegetariano com legumes frescos.</p>
                <p class="preco">R$ 20,90</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>

        <div class="produto">
            <img src="imagens/hambuguer 2.png" alt="Veggie Burger">
            <div class="detalhes">
                <h2>Burguer Cheddar</h2>
                <p>Hamburguer Cheddar com molho especial</p>
                <p class="preco">R$ 25,00</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>
        
    </section>
    <h1>Combos</h1>
    <section class="menu">
        
        <div class="produto">
            <img src="imagens/hambuguer 2.png" alt="Hamburguer Clássico">
            <div class="detalhes">
                <h2>Combo Duplo</h2>
                <p>Carne suculenta, queijo, alface e tomate.</p>
                <p class="preco">R$ 18,90</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>
        
        <div class="produto">
            <img src="imagens/hambuguer 2.png" alt="Cheeseburger">
            <div class="detalhes">
                <h2>Mega Combo</h2>
                <p>Carne com queijo cheddar e bacon crocante.</p>
                <p class="preco">R$ 22,90</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>
        
        <div class="produto">
            <img src="imagens/hambuguer 2.png" alt="Veggie Burger">
            <div class="detalhes">
                <h2>Combo Avassalador</h2>
                <p>Hamburguer vegetariano com legumes frescos.</p>
                <p class="preco">R$ 20,90</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>

        <div class="produto">
            <img src="imagens/hambuguer 2.png" alt="Veggie Burger">
            <div class="detalhes">
                <h2>Combo Cheddar</h2>
                <p>Hamburguer Cheddar com molho especial</p>
                <p class="preco">R$ 25,00</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>
        
    </section>
    <h1>Bebidas</h1>
    <section class="menu">
        
        <div class="produto">
            <img src="imagens/coca 1lt.webp" alt="Hamburguer Clássico">
            <div class="detalhes">
                <h2>Coca de 1L</h2>
                <p class="preco">R$ 5,00</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>
        
        <div class="produto">
            <img src="imagens/coca 2lt.webp" alt="Cheeseburger">
            <div class="detalhes">
                <h2>Coca de 2L</h2>
                <p class="preco">R$ 9,00</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>
        
        <div class="produto">
            <img src="imagens/suco laranja.webp" alt="Veggie Burger">
            <div class="detalhes">
                <h2>Suco de Laranja </h2>
                <p class="preco">R$ 6,00</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>

        <div class="produto">
            <img src="imagens/agua.webp" alt="Veggie Burger">
            <div class="detalhes">
                <h2>Agua</h2>
                <p class="preco">R$ 4,00</p>
                <button class="btn-escolher">Escolher</button>
            </div>
        </div>
        
    </section>
</body>
</html>
