<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrinho</title>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>

    <header id="nav">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            </ul>

            <ul>
            <li><a href="cardapio.html">Cardapio</a></li>
            </ul>

            <ul>
            <li><a href="login.html">Entrar</a></li>
            </ul>
            
            <ul>
             <li><a href="carrinho.html"> Carrinho</a></li>
            </ul>
        </ul>
    </header>

    <div class="carrinho">
        <nav>
            <ul>
                <li>Itens</li>
                <li>Dados</li>
                <li>Entrega</li>
                <li>Pagamento</li>
                <li>Concluir compra</li>
            </ul>
        </nav>
        <table>
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Valor Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                </tbody>
        </table>
    </div>
    <script src="script.js"></script>



   
</body>
</html>
