<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurante</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="nav">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            </ul>

            <ul>
            <li><a href="cardapio.html">Cardapio</a></li>
            </ul>

            <ul>
            <li><a href="login.html">Entrar</a></li>
            </ul>
            
            <ul>
             <li><a href="carrinho.html"> Carrinho</a></li>
            </ul>
        </ul>

       
    </header>
    <img src="imagens/logo.png" alt="">
   
<div class="container" >

    <div class="historia">
    <img class="imagem-his" src="imagens/historia.png" alt="">

    <p>O seu ponto de encontro para os melhores burgers da cidade!"</p>
        <button><h3>Saiba mais</h3></button>
    </div>

        <div class="cardapio">
            <a href="cardapio.html"><img class="imagem-card" src="imagens/cardapios.png" alt=""></a>
            <p>Mais do que um simples hambúrguer, uma experiência gastronômica.</p>
            <button><h3>Saiba mais</h3></button>
        
        </div>

      
</div>


<h2>Especiais</h2>
  <div class="menu-container">
    <div class="menu-item">
      <img src="imagens/combo1.jpg" alt="Produto 1" class="product-image">
      <h2 class="product-name">Mega Combo</h2>
      <p>Hambuguer com uma Coca de 2L e sorverte</p>
      <p class="product-price">R$ 18.90</p>
      <button class="choose-button" 
              data-name="Mega Combo" 
              data-price="18.90" 
              data-image="imagens/combo1.jpg">Escolher</button>
    </div>


    
        <div class="menu-item">
          <img src="imagens/combo2.jpg" alt="Produto 1" class="product-image">
          <h2 class="product-name">Frang Combo</h2>
          <p>Hambuguer de Frango cheats com uma Coca de 1L.</p>
          <p class="product-price">R$ 22.90</p>
          <button class="choose-button" 
                  data-name="Frang Combo" 
                  data-price="18.90" 
                  data-image="imagens/combo2.jpg">Escolher</button>
        </div>
      

      
        <div class="menu-item">
          <img src="imagens/combo3.jpg" alt="Produto 1" class="product-image">
          <h2 class="product-name">Burguer vegetariano</h2>
          <p>Hamburguer Vegetariano com legumes frescos e uma Fanta de 500ml.</p>
          <p class="product-price">R$ 35.90</p>
          <button class="choose-button" 
                  data-name="Combo Avassalador" 
                  data-price="35.90" 
                  data-image="imagens/combo3.jpg">Escolher</button>
        </div>
      

      
        <div class="menu-item">
          <img src="imagens/combo4.jpg" alt="Produto 1" class="product-image">
          <h2 class="product-name">Cheddar Triplo</h2>
          <p>Hamburguer Cheddar com uma Peps e um Milkshake</p>
          <p class="product-price">R$ 40.00</p>
          <button class="choose-button" 
                  data-name="Combo Cheddar" 
                  data-price="40.00" 
                  data-image="imagens/hambuguer 2.png">Escolher</button>
        </div>
      
  </div>

<section class="section2" id="section2">
    <img class="img-comentario" src="imagens/COMENTARIO.png" alt="">
    
</section>

<section class="section3" id="section3">

    <article class="redes">
 <img class="redes" src="imagens/redes.png" alt="">


     </article>

     <footer class="footer">
        <p>Todos os direitos reservados BUGER FOOD 2024</p>
      </footer>

</section>




    

</body>


</html>
