<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurante</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="imagens/logo.png" alt="">

<nav class="historia">
    <img src="imagens/historia.png" alt="">
    <p>O seu ponto de encontro para os melhores burgers da cidade! Saboreie nossos 
        hambúrgueres artesanais, feitos com ingredientes frescos e de alta qualidade. 
        Uma explosão de sabor em cada mordida!"</p>
        <button>Clique aqui</button>

    </nav>

    <nav class="cardapio">
        <img src="imagens/cardapios.png" alt="">
         <p>Mais do que um simples hambúrguer, uma experiência gastronômica.</p>
         <button>Clique aqui</button>
     </nav>

    

</body>


</html>