<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurante</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   
    <img src="imagens/logo.png" alt="">

<div class="container" >

    <div class="historia">
    <img class="imagem-his" src="imagens/historia.png" alt="">

    <p>O seu ponto de encontro para os melhores burgers da cidade!"</p>
        <button><h3>Saiba mais</h3></button>
    </div>

        <div class="cardapio">
            <img class="imagem-card" src="imagens/cardapios.png" alt="">
            <p>Mais do que um simples hambúrguer, uma experiência gastronômica.</p>
            <button><h3>Saiba mais</h3></button>
        
        </div>

      
</div>


<section class="section" id="section1">

 <article >
    <img class="img-hambuguer " src="imagens/hambuguer.png" alt="">
</article>

<article>
    <img class="img-hambuguer" src="imagens/hambuguer 2.png" alt="">
</article>

<article>
    <img class="img-hambuguer" src="imagens/molho.png" alt="">
</article>

</section>

<section class="section2" id="section2">
    <img class="img-comentario" src="imagens/COMENTARIO.png" alt="">
</section>

<section class="section3" id="section3">

    <article class="redes">
 <img class="redes" src="imagens/redes.png" alt="">


     </article>

     <footer class="footer">
        <p>Todos os direitos reservados BUGER FOOD 2024</p>
      </footer>

</section>




    

</body>


</html>