<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header id="nav">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            </ul>

            <ul>
            <li><a href="cardapio.html">Cardapio</a></li>
            </ul>

            <ul>
            <li><a href="login.html">Entrar</a></li>
            </ul>
            
            <ul>
            <li><a href="cadastrar.html"> Ou Cadastre-se</a></li>
            </ul>
            
            <ul>
             <li><a href="carrinho.html"> Carrinho</a></li>
            </ul>
        </ul>
    </header>



    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite seu e-mail" />
            <a href="/">Esqueci minha senha</a>
            <input type="submit" value="Entrar" class="btn" />
        </form>
    </div>
    
</body>
</html>
