*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.capa{
    width: 100%;
    height: 15rem;
    object-fit: cover;

}

#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 5rem;
}

#nav a{
    text-decoration: none;
    color: rgb(255, 255, 254);
    font-size: 20px;
}
#nav a:hover{
    color: rgb(211, 148, 12);
}

img{
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.imagem-his{
    width: 50rem;
    height: 20rcap;
    object-fit: cover;
    
}
.imagem-card{
    width: 50rem;
    height: 20rcap;
    object-fit: cover;
}


#article1 img{
    height: 20rem;
    width: 20rem;
    
}

#article1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;  
}

#article1 h1{
    margin-left: 20px;
    font-size: 30px;

}


#article1 p{
    margin-left: 20px;
}


#article2 img{
    height: 20rem;
    width: 20rem;
    
}

#article2{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 100px;
}

#article2 h1{
    margin-right: 20px;
    font-size: 30px;

}

#article2 p{
    margin-right: 20px;
}




#article3 p{
    margin-left: 20px;
}


#article3 img{
    height: 20rem;
    width: 20rem;
    
}

#article3{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 100px;
}

#article3 h1{
    margin-left: 20px;
    font-size: 30px;

}





.container{
    display: flex;
    justify-content: space-around;
    
    
}

.cardapio{
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.historia{
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
}

button{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 185, 23);
    height: 3rem;
    width: 10rem;
    margin-top: 20px;
    margin-bottom: 10px;
}






.img-comentario{
    width: 65%;
    height: 15rem;
    margin-top: 80px;
}

.section2{
    display: flex;
    justify-content: center;
    
}

.section3{
    background-image: url(imagens/capa2.png);
    width: 100%;
    
    object-fit: cover;
}

.redes{
    display: flex;
    margin-top: 200px;
    margin-right: 60px;
    
}
.footer{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/*TELA DE LOGIN */



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #000000;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    background-color: #080808;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #d87b11;

}

/*################## */


/*TELA DE CARRINHO*/


.carrinho {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/*##############*/



/*TELA DE CARDAPIO*/



.item {
   
   
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.item h2 {
    font-size: 24px;
    margin-top: 10px;
}

.item p {
    font-size: 16px;
    color: #666;
}

.item span {
    font-weight: bold;
    color: #ff6600;
    margin-left: 100px;
}

.btn-escolher {
    
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 50px;
   
}
