*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.capa{
    width: 100%;
    height: 15rem;
    object-fit: cover;

}
img{
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.imagem-his{
    width: 50rem;
    height: 20rcap;
    object-fit: cover;
    
}
.imagem-card{
    width: 50rem;
    height: 20rcap;
    object-fit: cover;
}


.container{
    display: flex;
    justify-content: space-around;
    
    
}

.cardapio{
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.historia{
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
}

button{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 185, 23);
    height: 3rem;
    width: 10rem;
    margin-top: 20px;
    margin-bottom: 10px;
}


.section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.img-hambuguer{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    margin: 10px;
    padding: 30px;
}

.img-comentario{
    width: 65%;
    height: 15rem;
}

.section2{
    display: flex;
    justify-content: center;
    
}

.section3{
    background-image: url(imagens/capa2.png);
    width: 100%;
    
    object-fit: cover;
}

.redes{
    display: flex;
    margin-top: 200px;
    margin-right: 60px;
    
}
.footer{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
